<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
    <!--<link rel="stylesheet" type="text/css" href="{% static 'polls/css/style.css' %}" />-->
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex flex-col items-center bg-gradient-to-b from-sky-400 bg-no-repeat">
    <!--
    <div>
        <h1>detalhes da pergunta: {{ question.question_text }}</h1>
        <p>respostas:</p>
        <div>
            <ul>
                {% for choice in question.choice_set.all %}
                <li>{{ choice.choice_text }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    -->
  <div class="flex text-center items-center justify-center flex-col rounded-xl bg-sky-900 text-white p-5 m-5 border-2 border-zinc-100 shadow-xl">
    <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend><h1>{{ question.question_text }}</h1></legend>
                {% if error_message %}
                    <p><strong>{{ error_message }}</strong></p>
                {% endif %}
                {% for choice in question.choice_set.all %}
                    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
                {% endfor %}
        </fieldset>
        <input class="button" type="submit" value="Vote">
    </form>    
  </div>
</body>
</html>