<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width='device-width', initial-scale=1.0">
    <title>index</title>
    <!--<link rel="stylesheet" type="text/css" href="{% static 'polls/css/style.css' %}" />-->
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex flex-col items-center bg-gradient-to-b from-sky-400 bg-no-repeat">
  
  <div class="flex items-center">
    <h1 class="text-blue my-8 text-4xl">Enquetes</h1>
    <div class="bg-sky-100 p-3 rounded-xl mx-4">
      <a href="{% url 'polls:createquest' %}">+</a>
    </div>
  </div>
  
  <div class="grid grid-col mb-20">
    {% if list %}
      {% for question in list %}
        <div class="flex text-center items-center justify-center flex-col rounded-xl bg-sky-900 text-white p-5 m-5 border-2 border-zinc-100 shadow-xl">
        <a href="{% url 'polls:details' question.id %}">{{ question.question_text}}</a>
        </div>
      {% endfor %}
    {% else %}
      <p>No Polls are available</p>
    {% endif %}  
  </div>
</body>
</html>