<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width='device-width', initial-scale=1.0">
    <title>index</title>
</head>
<body>
    <h1>LISTANDO PERGUNTAS</h1>
        <div>
            {% if list %}
                <ul>
                {% for question in list %}
                    <li><a href="/polls/{{ question.id }}/">{{ question.question_text}}</a></li>    
                {% endfor %}
                </ul>
            {% else %}
                <p>No Polls are available</p>
            {% endif %}    
        </div>
</body>
</html>