<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width='device-width', initial-scale=1.0">
    <title>index</title>
    <!--<link rel="stylesheet" type="text/css" href="{% static 'polls/css/style.css' %}" />-->
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex flex-col items-center justify-center h-screen bg-gradient-to-b from-sky-400 bg-no-repeat">
  <div class="flex text-center items-center justify-center flex-col rounded-xl bg-sky-900 text-white p-10 m-5 border-2 border-zinc-100 shadow-xl">
    <form action="{% url 'polls:savequest' %}" method="POST">
      {% csrf_token %}
      <fieldset>
        <legend><h1 class="mb-5">Criando uma enquete</h1></legend>
        <div class="flex flex-col mb-7 items-start">
          <label for="quest">question</label>
          <input required class="w-full p-1 rounded text-black" id="quest" type="text" name="question">
        </div>
        <div class="flex flex-col mb-3 items-start">
          <label for="choice1">escolha 1</label>
        <input required class="w-full rounded text-black p-1" id="choice1" type="text" name="choice1">
        </div>
        <div class="flex flex-col mb-10 items-start">
          <label for="choice2">escolha 2</label>
        <input required class="w-full rounded text-black p-1" id="choice2" type="text" name="choice2">
        </div>
      </fieldset>
      <input class="bg-sky-600 rounded p-3" type="submit" value="Cadastrar">
    </form>
  </div>
</body>
</html>